# build
build/
*.class

# Steve Jobs
.DS_Store

#######################################
# Eclipse
#######################################
bin/
.settings/
.classpath
.project
workspace/

#######################################
# IDEA
#######################################
.idea
*.iml
*.ipr
*.iws
classes/

# gradle
.gradle